body {
    background-color: #263238
}

#app {
    font-family: 'Avenir', Arial, Helvetica, sans-serif;
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-smoothing: grayscale; */
    text-align: center;
    color: white;
    margin-top: 8%
}

.link,
.link:hover,
.link:visited,
link:active {
    color: #4fc0ad
}

.item-card {
    border: 2px solid #4fc88d;
    border-radius: 4px;
    margin-top: -1px;
    padding: 5px;
    padding-bottom: 10px;
    cursor: pointer;
}

.itemConatiner {
    display: flex;
    flex-flow: row wrap;
    padding-top: 7%
}
